[Unit]
Description=excahnge data between LIS3-complient-equipment and inbox/outbox using LIS3 Protocol
After=multi-user.target

[Service]
Type=simple
ExecStart=/root/mdi/rp500/lis3_client.py

[Install]
WantedBy=multi-user.target
