[Unit]
Description=Read+Write data from inbox/outbox to mysql using ASTM format
After=multi-user.target

[Service]
Type=simple
ExecStart=/root/mdi/NXL_1000/astmbi/astm_file2mysql_bidirectional_hemato.py

[Install]
WantedBy=multi-user.target
